h1{
    font-size: 2em;
    color: black;  
    text-align: center; 
    margin-left: 100px;
}

.sidenav {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
  padding: 24px 12px 24px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  justify-content: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.logout{
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 300px;
}

.search_items{
  display: block;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.display_results{
  height: 60vh;
  width: 70%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 300px;
  background: #ffffff;
  border-radius: 30px;
  border: 4px #000 solid;
  overflow-y: hidden;
}

.search_items input{
  width: 61%;
  height: 40px;
  border-radius: 30px;
  border: 3px #000 solid;
  margin-left: 170px;
  margin-top: 20px;
  text-align: center;
}

.search_items button{
  height: 40px;
  border-radius: 15px;
  width: 120px;
  background-color: #0f9120;    
  border: none;
}

.search_items button a{
  color: #000;
  text-decoration: none;
  
}