*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vw;
    background: #000;
} */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1505144808419-1957a94ca61e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1526&q=80");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat

}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: url('https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background: transparent; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}


.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

button a{
    color: #000000;
    text-decoration: none;
    
}
.regoster-link{
    font-size: .9em;
    color: #fff;
    text-align: left;
    margin: 10px;
}

.regoster-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.regoster-link p a:hover{
    text-decoration: underline;
}